{% extends 'admin_base.html' %}
{% load static %}
{% block body %}
<div class="clearfix"></div>
	
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="row mt-12">
        <div class="col-lg-12">
           <div class="card profile-card-2">
            <div class="card-img-block" style="width: 990px; height: 600px;">
                <img class="img-fluid" src="{{ blosingle.image1.url }}" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
                <div class="icon-block">
                    <p>BLOG  DATE {{ blosingle.date }}</p>
                  </div>
                <h3>{{ blosingle.category }}</h3>
                <h5 class="card-title">{{ blosingle.Heading }}</h5>
                <p class="card-text">{{ blosingle.Detail }}</p>
                <p>{{ blosingle.Discription|safe }}</p>
            </div>
            
            <a href ="{% url 'admin_blogs_delete' blosingle.id %}"><button style="background-color: red;" type="button" class="btn btn-light btn-block waves-effect waves-light" > <i class="fa fa-trash"></i> &nbsp Delete</button></a>
            
        </div>

        </div>

    
      </div>
        
    </div>



{% endblock %}