<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>..:: GORURBAN ::..</title>
  <!-- loader-->
  <link href="{% static 'admin/css/pace.min.css' %}" rel="stylesheet"/>
  <script src="{% static 'admin/js/pace.min.js' %}"></script>
  <!--favicon-->
  <link rel="icon" href="{% static 'admin/images/favicon.ico' %}" type="image/x-icon">
  <!-- Vector CSS -->
  <link href="{% static 'admin/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet"/>
  <!-- simplebar CSS-->
  <link href="{% static 'admin/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet"/>
  <!-- Bootstrap core CSS-->
  <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{% static 'admin/css/animate.css' %}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{% static 'admin/css/icons.css' %}" rel="stylesheet" type="text/css"/>
  <!-- Sidebar CSS-->
  <link href="{% static 'admin/css/sidebar-menu.css' %}" rel="stylesheet"/>
  <!-- Custom Style-->
  <link href="{% static 'admin/css/app-style.css' %}" rel="stylesheet"/>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
 
</head>

<body class="bg-theme bg-theme1">

<!-- Start wrapper-->
 <div id="wrapper">

  <!--Start sidebar-wrapper-->
   <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
     <div class="brand-logo">
      <a href="{% url 'home' %}">
       <img src="{% static 'images/image.png' %}" class="logo-icon" style="width:21%" alt="logo icon">
       <h5 class="logo-text">Gorurban</h5>
     </a>
   </div>
   <ul class="sidebar-menu do-nicescrol">
      <li class="sidebar-header">MAIN NAVIGATION</li>
      <li>
        <a href="{% url 'admin_index' %}">
          <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_home' %}">
          <i class="zmdi zmdi-home"></i> <span>Home</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_about' %}">
          <i class="zmdi zmdi-accounts-add"></i> <span>About</span>
        </a>
      </li>

      <li>
        <a href="{% url 'admin_camps' %}" >
          <i class="zmdi zmdi-fire"></i> <span>Camps</span>
        </a>
      </li>

       <li>
        <a href="{% url 'admin_opportunities' %}" >
          <i class="zmdi zmdi-airline-seat-recline-extra"></i> <span>Opportunities Request</span>
        </a>
      </li>
        <li>
        <a href="{% url 'admin_contact' %}" >
          <i class="zmdi zmdi-accounts-list"></i> <span>Contact Request</span>
        </a>
      </li>
        <li>
        <a href="{% url 'admin_mail' %}" >
          <i class="zmdi zmdi-email-open"></i> <span>E mail Send</span>
          <small class="badge float-right badge-light">New</small>
        </a>
      </li>

      <li class="sidebar-header">Media</li>
      <li><a href="{% url 'admin_gallery' %}"><i class="zmdi zmdi-collection-folder-image text-info "></i> <span>Gallery</span></a></li>
      <li><a href="{% url 'admin_news' %}"><i class="zmdi zmdi-file-text text-success"></i> <span>News</span></a></li>
      <li><a href="{% url 'admin_blogs' %}"><i class="zmdi zmdi-blogger text-danger"></i> <span>Blogs</span></a></li>
      <li><a href="{% url 'admin_events' %}"><i class="zmdi zmdi-layers text-info"></i> <span>Events</span></a></li>

    </ul>

   </div>
   <!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
 <nav class="navbar navbar-expand fixed-top">
  <ul class="navbar-nav mr-auto align-items-center">
    <li class="nav-item">
      <a class="nav-link toggle-menu" href="javascript:void();">
       <i class="icon-menu menu-icon"></i>
     </a>
    </li>
    <li class="nav-item">
      <form class="search-bar">
        <input type="text" class="form-control" placeholder="Enter keywords">
         <a href="javascript:void();"><i class="icon-magnifier"></i></a>
      </form>
    </li>
  </ul>

  <ul class="navbar-nav align-items-center right-nav-link">
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="{% url 'admin_mail' %}">
      <i class="fa fa-envelope-open-o"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="">
      <i class="fa fa-google"></i></a>
    </li>
    <li class="nav-item dropdown-lg">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" href="{% url 'admin_youtube' %}">
      <i class="fa fa-youtube"></i></a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
        <span class="user-profile"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" class="img-circle" alt="user avatar"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="dropdown-item user-details">
        <a href="javaScript:void();">
           <div class="media">
             <div class="avatar"><img class="align-self-start mr-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png" alt="user avatar"></div>
            <div class="media-body">
            <h6 class="mt-2 user-title">{{ request.user.username }}</h6>
            <p class="user-subtitle">{{ request.user.email }}</p>
            </div>
           </div>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <a href="{% url 'Logout' %}"><li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li></a>
      </ul>
    </li>
  </ul>
</nav>
</header>
     {% block body %}
    {% endblock %}


   </div><!--End content-wrapper-->
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

	<!--Start footer-->
	<footer class="footer">
      <div class="container">
        <div class="text-center">
          Design & Developed by <a href="https://www.vistaarwebx.com/"><img src="{% static 'images/logos.png' %}" style="width:1.5%">istaarwebX</a>
        </div>
      </div>
    </footer>
	<!--End footer-->

  <!--start color switcher-->
   <div class="right-sidebar">
    <div class="switcher-icon">
      <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
    </div>
    <div class="right-sidebar-content">

      <p class="mb-0">Gaussion Texture</p>
      <hr>

      <ul class="switcher">
        <li id="theme1"></li>
        <li id="theme2"></li>
        <li id="theme3"></li>
        <li id="theme4"></li>
        <li id="theme5"></li>
        <li id="theme6"></li>
      </ul>

      <p class="mb-0">Gradient Background</p>
      <hr>

      <ul class="switcher">
        <li id="theme7"></li>
        <li id="theme8"></li>
        <li id="theme9"></li>
        <li id="theme10"></li>
        <li id="theme11"></li>
        <li id="theme12"></li>
		<li id="theme13"></li>
        <li id="theme14"></li>
        <li id="theme15"></li>
      </ul>

     </div>
   </div>
  <!--end color switcher-->

  </div><!--End wrapper-->

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'admin/js/jquery.min.js' %}"></script>
  <script src="{% static 'admin/js/popper.min.js' %}"></script>
  <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>

 <!-- simplebar js -->
  <script src="{% static 'admin/plugins/simplebar/js/simplebar.js' %}"></script>
  <!-- sidebar-menu js -->
  <script src="{% static 'admin/js/sidebar-menu.js' %}"></script>
  <!-- loader scripts -->
  <script src="{% static 'admin/js/jquery.loading-indicator.js' %}"></script>
  <!-- Custom scripts -->
  <script src="{% static 'admin/js/app-script.js' %}"></script>
  <!-- Chart js -->

  <script src="{% static 'admin/plugins/Chart.js/Chart.min.js' %}"></script>

  <!-- Index js -->
  <script src="{% static 'admin/js/index.js' %}"></script>
  <script src="{% static 'admin/plugins/fullcalendar/js/moment.min.js' %}"></script>
  <script src="{% static 'admin/plugins/fullcalendar/js/fullcalendar.min.js' %}"></script>
  <script src="{% static 'admin/plugins/fullcalendar/js/fullcalendar-custom-script.js' %}"></script>
  <script src="https://cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js"></script>
  <script>
      CKEDITOR.replace('text_content', {
        height: 400,
        /* Default CKEditor 4 styles are included as well to avoid copying default styles. */
        contentsCss: [
          'http://cdn.ckeditor.com/4.16.0/full-all/contents.css',
          'https://ckeditor.com/docs/ckeditor4/4.16.0/examples/assets/css/classic.css'
        ]
      });
    </script>
 <script src="https://apps.elfsight.com/p/platform.js" defer></script>
</body>
</html>
