
<!DOCTYPE html>
<html lang="zxx">

<head>
    {% load static %}

    <!-- //online-fonts -->
    <script src="{% static 'zheader/js/jquery-1.11.1.min.js' %}"></script>

<body>
	<script src="{% static 'zheader/js/jquery.vide.min.js' %}"></script>
	<div data-vide-bg="{% static 'zheader/video/cook' %}">

		<div class="banner">
			<div class="container">

						<br><br><br><br>
                     <div class="principles-grids principles-grids1">
                        <div class="abt-btm agileits w3layouts aos-init aos-animate">



                            <div class="clearfix"></div>
                        </div>
                    </div>




			</div>
		</div>

	</div>
	<!-- //video header end -->



</head>

</body>

</html>